@model proje15haziran.Models.Comments

@{
    ViewBag.Title = "CommentEdit";
}

<h2>Yorum Güncelle</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)


    <div class="form-group">
        @Html.LabelFor(model => model.comment, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.comment, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.onay, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.onay)
                @Html.ValidationMessageFor(model => model.onay, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <p> </p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <p> </p>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

